body {
    display: flex;
    flex-direction: column;;
}

.grid-container, .grid-row {
    display: flex;
    justify-content: center;
}

.grid-container {
    flex-direction: column;
}

.grid {
    border: solid black;
    padding: 10px;
}

.grid-color {
    background-color: blue;
}